doctype html
html
  head
    title FlightDash
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    #header
      header  FlightDash
      nav
        ul
          li
            a(href='/') HOME
          li
            a(href='#') HISTORY
          li
            a(href='/account') ACCOUNT
          li.active
            a(href='#') ABOUT
          li#right
            a(href='/signin') SIGN IN
          li#right
            a(href='/signin') SIGN UP
    #placeholder
    div
      article
        #about
          h1 Welcome to FlightDash
          p we are an online flight booking website. This app is done as a DBMS project!
        #about
          h1 The Team
          p The team consists of 4 members who all are students of MSRIT.

    footer
      ul
        li
        | This website is made by Eshwar, Elson, Gopan, Antony