doctype html
html
  head
    title My Travel Website
    link(rel='stylesheet', type='text/css', href='index.css')
  body
    #header
      header  My Travel Website
      nav
        ul
          li.active
            a(href='#') HOME
          li
            a(href='#') HISTORY
          li
            a(href='#') ACCOUNT
          li
            a(href='/about') ABOUT
          li#right
            a(href='') SIGN IN
          li#right
            a(href='') SIGN UP
    article
      #about
	  	h3
		| Welcome to FlightDash
		p
		| we are an online flight booking website. This app is done as a DBMS project!
	  #about
	  	h3
		| The Team
		p
		| The team consists of 4 members who all are students of MSRIT.

    footer
