doctype html
html
  head
    title FlightDash
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    #header
      header  FlightDash
      nav
        ul
          li
            a(href='/') HOME
          li
            a(href='#') HISTORY
          li
            a(href='/account') ACCOUNT
          li
            a(href='/about') ABOUT
          li#right
            a(href='/signin') SIGN IN
          li#right
            a(href='/signup') SIGN UP
    #placeholder
    div
      article
        each item in results
            #about
                h1 #{item.from_location} to #{item.to_location}
                p we are an online flight booking website. This app is done as a DBMS project!
    footer
      ul
        li
        | This website is made by Eshwar, Elson, Gopan, Antony
