doctype html
html
  head
    title FlightDash
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    #header
      header  FlightDash
      nav
        ul
          li
            a(href='/') HOME
          li
            a(href='/history') HISTORY
          li
            a(href='/account') ACCOUNT
          li
            a(href='/about') ABOUT
          li#right.active
            a(href='/signin') SIGN IN
          li#right
            a(href='/signup') SIGN UP
    #placeholder
    div
      article
        #about
          h1 Sign in
          p To be populated!

    footer
      ul
        li
        | This website is made by Eshwar, Elson, Gopan, Antony
