doctype html
html
  head
    title FlightDash
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    #header
      header  FlightDash
      nav
        ul
          li
            a(href='/') HOME
          li
            a(href='/history') HISTORY
          li
            a(href='/account') ACCOUNT
          li
            a(href='/about') ABOUT
          li#right.active
            a(href='#') SIGN IN
          li#right
            a(href='/signup') SIGN UP
    #placeholder
    div
      article
        #about
          h1 Sign in
          form(method='post', action='/validate', id='signInForm')
            #msg #{msg}
            p
              label(value='Email') Email:
              input(type='email', placeholder='Email', name='email')
            p
              label(value='Password') Password:
              input(type='password', placeholder='Password', name='password')
            p 
              button(type='submit', form='signInForm', value='Submit') SIGN IN


    footer
      ul
        li
        | This website is made by Eshwar, Elson, Gopan, Antony
