doctype html
html
  head
    title FlightDash
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    #header
      header  FlightDash
      nav
        ul
          li
            a(href='/') HOME
          li
            a(href='#') HISTORY
          li
            a(href='/account') ACCOUNT
          li
            a(href='/about') ABOUT
          li#right
            a(href='/signin') SIGN IN
          li#right.active
            a(href='#') SIGN UP
    #placeholder
    div
      article
        #about
          h1 Sign Up
          form(method='post', action='/register')
            p
              label(value='Name') Name:
              input(type='text', placeholder='First Name', name='first_name')
              input(type='text', placeholder='Last Name', name='last_name')
            p
              label(value='Email') Email:
              input(type='email', placeholder='Email', name='email')
            p
              label(value='Password') Password:
              input(type='password', placeholder='Password', name='password')
            p
              label(value='Confirm Password') ConfirmPassword:
              input(type='password', placeholder='Confirm Password', name='confirm_password')
            p
              label(value='Address') Address:
              input(type='text', placeholder='Address', name='address')
            p
              label(value='Telephone') Telephone:
              input(type='phone', placeholder='Phone number', name='phone')
            


    footer
      ul
        li
        | This website is made by Eshwar, Elson, Gopan, Antony
