body{
	padding: 0px;
	margin:0px;

	background: url(/images/flight.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
#header{
	padding-top: 10px; 
	background: #ffb900;
	text-align: center;
	font-size: 36pt;
	position: fixed;
	width: 100%;
	z-index: 100;
}
#placeholder{
	height: 120px;
}
article{
/*
	background: #00ff00 url("flight.jpg") no-repeat scroll center; 
	background-size: cover;
	background-attachment: scroll;
*/
	height: 500px; 
	width: 100%;
	margin: 0px;
}
nav{
	padding: 0px;
	text-align: left;
	background: #FFFFFF;
	font-size: 12pt;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
}
nav li{
    display: inline;
    float: left;
}
nav li a {
    display: block;
	color: #000;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #CCC;
}
.active{
	background-color: #CCC;
}
#right{
	float: right;
}
#form{
	height: 100%;
}
#book{
	width: 70%;
	margin: auto;
	height: 25%;
	background: rgba(255, 255, 255, .7);
	vertical-align: center;
	position: relative;
	top: 100%;
	transform: translateY(-50%);
	border-radius: 10px;
}
#book-upper{
	text-align: center;
    width: 100%;
    box-sizing: border-box;
    height: 60%;
	display: flex;
	justify-content:space-around;
}
#book-upper-center{
	/*align-self: center;*/
}

#book-lower{
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: bottom;
	padding: 10px;
	box-sizing: border-box;
}
/*article div p{
	text-align: center;
	vertical-align: middle;
}
.onethird{
    box-sizing: border-box;
	width: 33%;
	border-right: 1px solid rgba(187, 160, 160, 0.7);
	display: inline-block;
	text-align: center;
}
.norightborder{
	border-right: 0px;
}*/
footer{
	width: 100%;
	padding: 0px;
	text-align: left;
	background: #FFFFFF;
	font-size: 12pt;
	position: fixed;
	vertical-align: bottom;
	z-index: 100;
	bottom: 0px;
}
footer li{
    display: inline;
    float: left;
    display: block;
	color: #000;;
    text-align: center;
    padding: 14px 16px;
}
footer #right{
	float: right;
}
/*footer li a {
    text-decoration: none;
}*/
footer li:hover {
    background-color: #CCC;
}
.active{
	background-color: #CCC;
}
/*About specific css*/
#about{
	width: 70%;
	margin: auto;
	background: rgba(255, 255, 255, .8);
	border-radius: 10px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px; 
	text-align: center
}
#about h1{
	text-align: center;
	padding: 10px;
}